<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header text-center">Scenius Code Challenge: Calculator</h5>
    
    <!--
    <table>
        <tr ng-repeat="x in elements">
          <td>{{ x.Query }}</td>
          <td>{{ x.Result }}</td>
        </tr>
    </table>

    Spul om in de controller uit te voeren:
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("customers.php")
        .then(function (response) {$scope.names = response.data.records;});
});
    -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Expressiekolom -->
      <ng-container matColumnDef="expression">
        <th mat-header-cell *matHeaderCellDef> Expressie </th>
        <td mat-cell *matCellDef="let element"> {{element.expression}} </td>
      </ng-container>
    
      <!-- Uitkomstkolom -->
    <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> Uitkomst </th>
        <td mat-cell *matCellDef="let element"> {{element.result}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Expressie om te berekenen</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Expressie is vereist</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary me-2">Versturen</button>
            </div>
        </form>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        Gebaseerd op 
        <a href="https://jasonwatmore.com/post/2022/11/18/angular-14-reactive-forms-validation-example" target="_blank">Angular 14 - Reactive Forms Validation Example</a>
    </p>
</div>